.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

#App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95vw;
}

.main-content-home {
    display: flex;
    justify-content: space-around;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: top;
    width: 15%;
    padding: 1%;
}

.lessons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 75%;
    flex-wrap: wrap;
}

.lesson {
    width: 28%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: left;
    border: 1px solid black;
    margin: 1%;
    padding: 1%;
    border-radius: 5%;
}

.lesson-img-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.lesson-img {
    max-width: 90px;
    max-height: 90px;
}